detection/ops/build/
detection/ops/MultiScaleDeformableAttention.egg-info/
detection/ops/dist/
detection/ops/modules/
detection/ops/functions/
detection/ops/logs/
segmentation/logs/
segmentation/ops
segmentation/ops/
segmentation/venv/
logs/
segmentation/mmseg_custom/
segmentation/mmcv_custom/__pycache__/
segmentation/work_dirs/